.header {
	padding-bottom: 0.5rem;
	background-color: $white;

	nav {
		width: 100%;
	}

	&__links {
		@include flexSpaceBetween();
	}

	&__text {
		margin-left: 3rem;
		font-weight: map-get($font-weights, bold);
		font-size: $font-size-large;
		color: $veryDarkBlue;
	}

	&__mode {
		margin-right: 2rem;
		color: $veryDarkBlue;
		font-weight: map-get($font-weights, medium);
	
	}

	

	ion-icon {
		font-size: 23px;
		margin-right: 0.4rem;
		transition: 1s;

		&:hover {
            transform: rotate(45eg);
			transform: translate(30%, 25%);
		}
	}
}

.light {
	@include theme($light-theme: true);
}
