.home {

	&__row {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;

		.dd-wrapper {
			display: flex;
			min-height: 32px;
			height: 3.6375rem;
			align-items: center;
			flex-wrap: wrap;
			position: relative;
			left: 8.3rem;
			margin-top: 3.3rem;
			width: 13rem;
			background: $darkBlue;
			border-radius: 9px;
			box-shadow: 0px 0px 6px .1px rgba(0,0,0,0.75);

			.dd-header {
				//   @include styling();
				display: flex;
				justify-content: space-between;
				cursor: pointer;
				width: 100%;
				padding: 2px 20px;
				outline: none;

				&__title--bold {
					font-weight: bold;
				}
			}

			.dd-list {
				box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
				padding: 0;
				margin: 0;
				width: 100%;
				margin-top: 20px;
				z-index: 1;

				li {
					list-style-type: none;

					&:first-of-type {
						> button {
							border-top-left-radius: 4px;
							border-top-right-radius: 4px;
						}
					}

					&:last-of-type > button {
						border-bottom-left-radius: 4px;
						border-bottom-right-radius: 4px;
					}

					button {
						display: flex;
						justify-content: space-between;
						background-color: white;
						font-size: 16px;
						padding: 15px 20px 15px 20px;
						border: 0;
						width: 100%;
						text-align: left;

						outline: none;
						transition: 0.3s;

						&:hover,
						&:focus {
							cursor: pointer;
							font-weight: bold;
							background-color: #ccc;
						}
					}
				}
			}
		}
	}

	&__search {
		border-radius: 9px;
		width: 27.25rem;
		height: 3.6375rem;
		display: flex;
		align-items: center;
		margin-left: -8.28rem;
		margin-top: 3.3rem;
		background-color: $white;
		box-shadow: 0px 0px 6px .1px rgba(0,0,0,0.75);


		ion-icon {
			float: left;
			margin-left: 2.3rem;
			font-size: 23px;
		}

		input {
			border: 0;
			outline: none;
			margin-left: 1.4rem;
			font-size: $font-size-detail;
			font-weight: 400;
			color: $veryDarkBlue;
			background: $white !important;
			
		}
	}

	.countries {
		display: flex;
		justify-content: space-around;
		flex-flow: row wrap;
		width: 100%;
		margin-top: 5.9rem;
		margin-bottom: 3rem;
		padding: 1rem;


		.country {
			@include flexCenter();
			width: 220px;
			height: 400px;
			margin: 1.3rem;
			

			&__box {
				width: 14.775rem;
				box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
				border-radius: 9px;
				transition: 350ms;

				&:hover {
					transform: scale(1.03);
					box-shadow: 0px 0px 11px 5.5px rgba(129, 127, 127, 0.75);


				}
			}

			&__flag {

				height: 9rem;
				width: 100%;
			}
			
			&__img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-top-right-radius: 7px;
				border-top-left-radius: 7px;

			}

			&__data {
				background: $darkBlue;
				margin-top: -10px;
				padding: 17px;
				border-bottom-left-radius: 7px;
				border-bottom-right-radius: 7px;
				font-size: $font-size;
				padding-bottom: 2rem;
			

				h3 {
					font-size: 14px;
					display: flex;
					flex-direction: column;
					justify-content: start;
					align-items: flex-start;
				}

				ul {
					list-style: none;
					display: flex;
					flex-direction: column;
					justify-content: start;
					align-items: flex-start;
					padding: 0;
					width: 16rem;
				
				}

			}
		}
	}
}

@media (max-width: 620px) {

	.home {
		min-width:320px;
	}

	.home .countries {
		width: 100%;
		margin: 0 auto;
	}


	.home .home__row {
		flex-flow: column nowrap;
		align-items: center;
		margin: 1rem auto;
		width: 100%;
	}

	.home .home__search {
		width: 80vw;
		margin: 2rem auto;
		font-size: 40px;
	}
	
	.home .dd-wrapper {
		width: 80vw;
		margin-top: -.3rem;
		left: 0;
	}
}