// Colors

$darkBlue: hsl(209, 23%, 22%);
$veryDarkBlue: hsl(201, 22%, 13%);
$darkGray: hsl(0, 0%, 52%);
$veryLightGray: hsla(0, 0%, 100%, 0.932);
$white: hsl(0, 33%, 98%);

$font-size: 0.975rem;
$font-size-detail: 1rem;
$font-size-large: 1.5rem;

$font-family: 'Nunito Sans', sans-serif;
